.arcw-nav {
	position: relative;
	display: table;
	width: 100%;
	height: $navigation-height;

	.prev-page,
	.next-page,
	.menu-container {
		position: relative;
		display: table-cell; // DO NOT CHANGE
		height: $navigation-height;
		vertical-align: middle; // DO NOT CHANGE
	}
}

> .calendar-navigation {

	> .prev-year,
	> .next-year {
		// reset themes button styling
		button {
			display: block;
			width: 100%;
			padding: 0;
			border: 0;
			border-radius: 0;
			color: inherit;
			font-family: inherit;
			font-weight: inherit;
			font-style: normal;
			letter-spacing: 0;
			line-height: $navigation-height;
			text-transform: none;
			background: none;
			&:disabled {
				cursor: default !important;
			}
		}

		button.btn-nav {
			cursor: pointer;
			&.disabled {
				cursor: default;
			}
		}
	}

	> .menu-container {
		> .title {
			display: block;
			height: $navigation-height;
			line-height: $navigation-height;
		}
		> ul.menu {
			position: absolute;
			display: none;
			width: 100%;
			top: 0;
			overflow: hidden;
			background-color: $menu-bg-color;
			z-index: 99;

			&.opened {
				display: block;
			}

			li {
				display: block;
				height: $navigation-height;
				line-height: $navigation-height;
			}
		}
		> .nav-toggle {
			position: absolute;
			top: 0;
			right: 0;
			height: $navigation-height;
			width: $navigation-height;
			line-height: $navigation-height;
			font-size: inherit;
			&:before {
				content: '▾';
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 110%;
			}
		}
	}
}