// Nav buttons Next/Prev
.arcw.#{$theme-name} {

	.arcw-nav {
		margin-bottom: 1px;
		border-radius: $border-radius;
		color: $text-color;
		background-color: #EF9677;

		.prev-page,
		.next-page {
			width: 30px;
			border-radius: $border-radius;
			font-size: 18px;
			text-align: center;
			color: $text-color;
		}
		.prev-page {
			border-right: 1px #FFF solid;
		}
		.next-page {
			border-left: 1px #FFF solid;
		}

		.btn-nav {
			&:hover {
				background-color: #86CAE9;
			}

			&.disabled {
				opacity: .4;
				&:hover {
					background: none;
				}
			}
		}

	}

	.menu-container {
		position: relative;
		padding: 0;
		text-align: center;
		text-transform: capitalize;

		&:hover {
			background-color: #EA8462;
		}
	}

	.title {
		display: block;
		height: $navigation-height;
		line-height: $navigation-height;
		color: $text-color;
		vertical-align: middle;
		text-align: center;

		&:hover {

		}
		&:visited {

		}
	}

	.menu {
		left: 0;
		width: 100%;
		border: none;
		box-shadow: 0 0 10px #000;
		background-color: #FFF;
	}

	.nav-item {
		color: #86CAE9;

		&.active,
		&.active:hover {
			color: $text-color;
			text-decoration: none;
			background-color: #F2C8BA;
		}
		&:hover {
			background-color: #86CAE9;
			cursor: pointer;
			color: #FFF;
		}
	}

	.nav-toggle {
		position: absolute;
		width: 24px;
		height: $navigation-height;
		top: 0;
		right: 0;
		border-left: 1px solid #EF9677;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: $text-color;
		font-size: 9px;
		line-height: $navigation-height;
		cursor: pointer;
		&:hover {
			background-color: #86CAE9;
		}
	}

}
