// Nav buttons Next/Prev
.arcw.#{$theme-name} .arcw-nav {
	height: $navigation-height !important;
	border-radius: $border-radius;
	color: $text-color;
	background-color: #000;

	.prev-page,
	.next-page {
		width: 30px;
		border-radius: $border-radius;
		font-size: 18px;
		text-align: center;
		color: $text-color;
	}

	.btn-nav {
		&:hover {
			background-color: #24890d;
		}

		&.disabled {
			opacity: .4;
			&:hover {
				background-color: transparent;
			}
		}
	}

	.menu-container {
		position: relative;
		padding: 0;
		text-align: center;
		text-transform: capitalize;

		&:hover {
			> .nav-toggle {
				background-color: #194a0d;
			}
		}
	}

	.title {
		display: block;
		height: $navigation-height;
		line-height: $navigation-height;
		color: $text-color;
		vertical-align: middle;

		&:hover {

		}
		&:visited {

		}
	}

	.menu {
		width: 100%;
		border: none;
		box-shadow: 5px 5px 0 rgba(#000, .4);
		background-color: #24890d;
	}

	.nav-item {
		display: block;
		color: #FFF;
		&:hover {
			background-color: $brand-primary;
			cursor: pointer;
			color: #FFF;
		}
		&.active,
		&.active:hover {
			color: $text-color;
			background-color: #000;
			text-decoration: none;
		}
	}

	.nav-toggle {
		position: absolute;
		width: 24px;
		height: $navigation-height;
		top: 0;
		right: 0;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		color: $text-color;
		font-size: 9px;
		line-height: $navigation-height;
		cursor: pointer;
		&:hover {
			background-color: $brand-primary;
		}
	}

}
