/***** CALENDAR BASE STRUCTURE
	with this file an some variables the calendar will be not very sexy
	but should be functional
**/
@import "navigation";
@import "page-animation";
@import "page-year";
@import "page-month";

.arcw {
	position: relative; // DO NOT CHANGE
	width: 100%; // DO NOT CHANGE
	* {
		box-sizing: border-box !important; // DO NOT CHANGE
	}

	a {
		&:focus,
		&:active,
		&:active:focus{
			outline: none !important;
		}
	}

}

.arcw-pages {
	position: relative; // DO NOT CHANGE
	overflow: hidden; // DO NOT CHANGE

	// Base page container position and display
	> .arcw-page {
		// DO NOT CHANGE
		position: absolute;
		top: 0;
		left: 0;
		display: table;
		//@include translate3d(-100%, 0, 0);
		width: 100%;
		background-color: #FFF;
		&.active {
			//@include translate3d(0, 0, 0);
		}
		&:last-child {
			position: relative;
		}
	}
}

/* FOR PREVIEW IN CONFIGURATION ONLY */
.settings_page_Archives_Calendar_Widget {
	#TB_ajaxContent {
		background-color: $preview-background;
	}
}
