/***** CALENDAR BASE STRUCTURE
	with this file an some variables the calendar will be not very sexy
	but should be functional
**/
@import "nav";
@import "page-animation";
@import "pages-years";

.arcw {
	position: relative; // DO NOT CHANGE
	width: 100%; // DO NOT CHANGE
	* {
		box-sizing: border-box !important; // DO NOT CHANGE
	}

	a {
		&:focus,
		&:active {
			outline: none !important;
		}
	}

}

.arcw-pages {
	position: relative; // DO NOT CHANGE
	overflow: hidden; // DO NOT CHANGE

	// Base page container position and display
	.arcw-page {
		// DO NOT CHANGE
		position: absolute;
		top: 0;
		left: 0;
		margin-left: -100%;
		width: 100%;
		&.active {
			margin-left: 0;
		}
		&:last-child {
			position: relative;
		}
	}

	.month-page {
		display: table;
	}

}

// base for the month/day display
.arcw {
	.month {
		position: relative;
		overflow: hidden;
		float: left;
	}

	.month {
		width: $month-width;
		height: $month-height;
	}
}

.weekdays {
	display: table;
	width: 100%;
	.weekday {

	}
}

.week-row {
	display: table-row;
	.day {
		> a {
			display: block;
		}
	}
}

.weekday, .day {
	display: table-cell;
	width: 14.28571428571429% !important;
	text-align: center;
}

/* FOR PREVIEW IN CONFIGURATION ONLY */
.settings_page_Archives_Calendar_Widget {
	#TB_ajaxContent {
		background-color: $preview-background;
	}
}
