.arcw-nav {
	position: relative;
	display: table;
	width: 100%;
	height: $navigation-height;
	line-height: $navigation-height;

	.arcw-btn-nav,
	.arcw-menu-container {
		position: relative;
		display: table-cell; // DO NOT CHANGE
		height: $navigation-height;
		vertical-align: middle; // DO NOT CHANGE
	}

	// nav next/prev buttons
	.arcw-btn-nav {
		width: $navigation-height;
		height: $navigation-height;
		text-align: center;
		line-height: inherit;
		cursor: pointer;

		&.disabled {
			opacity: .5;
			cursor: default;
		}
	}

	.arcw-title {
		display: block;
		height: $navigation-height;
		text-align: center;
	}

	// dropdown menu
	.arcw-menu {
		display: none;
		position: absolute;
		z-index: 99;
		top: 0;
		width: 100%;
		margin: 0;
		overflow: hidden;
		background-color: $menu-bg-color;

		&.open {
			display: block;
		}

	}

	// dropdown menu items
	.arcw-nav-item {
		display: block;
		cursor: pointer;
		text-align: center;

		&.active, &.active:hover {
			cursor: default;
		}
		&:hover {

		}
	}

	// drop down menu toggle button
	.arcw-nav-toggle {
		position: absolute;
		top: 0;
		right: 0;
		height: $navigation-height;
		width: $navigation-height;
		text-align: center;
		font-size: inherit;
		cursor: pointer;
		&:before {
			content: '▾';
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 110%;
		}
	}
}
