/**
 * Animation for the page switching
*/

$animation-time: .4s;
.arcw-pages {
	.arcw-page {

		@include transition(transform $animation-time);

		&.arcw-anim-enter {
			background: red;
			// newer page enter (press next button)
			&.newer {
				@include translate(0, 0);
				@include transition(transform $animation-time);
			}
			// older page enter (press prev button)
			&.older {
				@include translate(0, 0);
				@include transition(transform $animation-time);
			}
		}

		&.arcw-anim-leave {
			// newer active page leave (press prev button)
			.newer{
				@include translate(-100%, 0);
				@include transition(all $animation-time);
			}
			// older active page leave (when press next button)
			.older{
				opacity: 0.1;
				@include transition(all $animation-time);
			}
		}
	}
}