.arcw-month-row {
	display: table-row;
	width: 100%;
}

// month box
.arcw-month-box {
	display: table-cell;
	overflow: hidden;
	width: $month-width;
	height: $month-height;
	&.has-posts {

	}

	a {
		display: block;
		width: 100%;
		height: inherit;

		&:hover {

		}
	}
}

// month post count
.arcw-postcount {
	.arcw-count-number {

	}
	.arcw-count-text {

	}
}

.arcw-month-box {
	&.has-posts {
		.arcw-postcount {
			.arcw-count-number {

			}
			.arcw-count-text {

			}
		}
	}
}
